.navbar-vertical.navbar-expand-xs .navbar-collapse {
   overflow: hidden;
}

.navbar-vertical.navbar-expand-xs .navbar-collapse:hover {
   overflow: auto;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(195deg, #EC407A 0%, #D81B60 100%);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(195deg, #ca3768 0%, #9e1245 100%);
}